{#about #}
{% extends 'generator/base.html' %}

{% block title %} О Сайте {% endblock %}

{% block content %}
    <p>Этот сайт создан в учебных целях</p>
    <p>Здесь можно сгенерировать случайный пароль состоящий из:</p>

        <p>Цифр</p>
        <p>Специальных символов</p>
        <p>Больших букв английского алфавита</p>
        <p>Маленьких букв английского алфавита</p>
        <p>Или в комбинация из всего выши перечисленого или по отдельно выбраным пунктам</p>


    <p>Не рекомендую хранить тут важные пароли,
        так как данный проект является учебным
        и его создатель не может гарантировать безопасное хранение ваших данных</p>
{% endblock %}